In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import cot_reports as cot


# Fetch the COT data for 2024
df = cot.cot_year(year=2024, cot_report_type='legacy_fut')

In [ ]:
df.dtypes

In [ ]:
df['As of Date in Form YYYY-MM-DD']=pd.to_datetime(df['As of Date in Form YYYY-MM-DD'])

In [ ]:
df.dtypes

In [146]:
df.head()

            Market and Exchange Names  As of Date in Form YYMMDD As of Date in Form YYYY-MM-DD CFTC Contract Market Code CFTC Market Code in Initials  CFTC Region Code  CFTC Commodity Code  Open Interest (All)  Noncommercial Positions-Long (All)  Noncommercial Positions-Short (All)  ...  Concentration-Gross LT =8 TDR-Short(Other)  Concentration-Net LT =4 TDR-Long (Other)  Concentration-Net LT =4 TDR-Short (Other)  Concentration-Net LT =8 TDR-Long (Other)  Concentration-Net LT =8 TDR-Short (Other)                Contract Units  CFTC Contract Market Code (Quotes)  CFTC Market Code in Initials (Quotes)  CFTC Commodity Code (Quotes)  Change Long
0  WHEAT-SRW - CHICAGO BOARD OF TRADE                     241105                    2024-11-05                    001602                         CBT                  0                    1               443288                              104711                               127252  ...                                        52.6                                      35.4                                       37.0                                      54.7                                       51.0  (CONTRACTS OF 5,000 BUSHELS)                              001602                                   CBT                              1          NaN
1  WHEAT-SRW - CHICAGO BOARD OF TRADE                     241029                    2024-10-29                    001602                         CBT                  0                    1               415888                              106934                               129825  ...                                        52.6                                      37.4                                       35.7                                      54.7                                       50.2  (CONTRACTS OF 5,000 BUSHELS)                              001602                                   CBT                              1          NaN
2  WHEAT-SRW - CHICAGO BOARD OF TRADE                     241022                    2024-10-22                    001602                         CBT                  0                    1               410803                              111145                               128227  ...                                        50.0                                      40.3                                       33.4                                      56.0                                       48.1  (CONTRACTS OF 5,000 BUSHELS)                              001602                                   CBT                              1          NaN
3  WHEAT-SRW - CHICAGO BOARD OF TRADE                     241015                    2024-10-15                    001602                         CBT                  0                    1               398544                              108406                               122120  ...                                        46.7                                      39.0                                       31.7                                      55.4                                       46.0  (CONTRACTS OF 5,000 BUSHELS)                              001602                                   CBT                              1          NaN
4  WHEAT-SRW - CHICAGO BOARD OF TRADE                     241008                    2024-10-08                    001602                         CBT                  0                    1               394347                              111760                               125258  ...                                        42.8                                      36.7                                       30.5                                      51.9                                       41.3  (CONTRACTS OF 5,000 BUSHELS)                              001602                                   CBT                              1          NaN

[5 rows x 130 columns]

In [136]:
# Set the display options to landscape orientation
pd.set_option('display.width', 1000)
pd.set_option('display.max_columns', 20)

In [147]:
# Extract the gold-related data
gold_df = df[df['Market and Exchange Names']=='GOLD - COMMODITY EXCHANGE INC.']

# Select the first 10 columns
gold_df = gold_df.iloc[:, :10]

# Remove columns 3 to 7 (inclusive)
gold_df = pd.concat([gold_df.iloc[:, :3], gold_df.iloc[:, 7:]], axis=1)

In [148]:
gold_df.head()

            Market and Exchange Names  As of Date in Form YYMMDD As of Date in Form YYYY-MM-DD  Open Interest (All)  Noncommercial Positions-Long (All)  Noncommercial Positions-Short (All)
11208  GOLD - COMMODITY EXCHANGE INC.                     241105                    2024-11-05               558034                              336816                                81487
11209  GOLD - COMMODITY EXCHANGE INC.                     241029                    2024-10-29               579468                              366636                                87983
11210  GOLD - COMMODITY EXCHANGE INC.                     241022                    2024-10-22               573760                              371813                                75609
11211  GOLD - COMMODITY EXCHANGE INC.                     241015                    2024-10-15               541232                              357494                                71060
11212  GOLD - COMMODITY EXCHANGE INC.                     241008                    2024-10-08               520316                              348891                                70711

In [149]:
# Rename Columns
# Noncommercial Positions-Long (All)
# Noncommercial Positions-Short (All)
# Rename the columns
gold_df.rename(columns={'Noncommercial Positions-Long (All)': "NC Long", 'Noncommercial Positions-Short (All)': "NC Short", 'Open Interest (All)': "Open Interest"}, inplace=True)

In [150]:
gold_df=gold_df.sort_values(by='As of Date in Form YYYY-MM-DD').reset_index(drop=True)
gold_df['Change Long']=gold_df['NC Long'].diff()
gold_df['Change Short']=gold_df['NC Short'].diff()

In [ ]:
# Calculate the change in 'NC Long' by subtracting each value from the previous row
# Sort by 'Date' in ascending order
# gold_df = gold_df.sort_values(by='As of Date in Form YYYY-MM-DD', ascending=True).reset_index(drop=True)
# gold_df['Change Long'] = gold_df['NC Long'] - gold_df['NC Long'].shift(1)
# gold_df['Change Short'] = gold_df['NC Short'] - gold_df['NC Short'].shift(1)

In [151]:
gold_df.head()

        Market and Exchange Names  As of Date in Form YYMMDD As of Date in Form YYYY-MM-DD  Open Interest  NC Long  NC Short  Change Long  Change Short
0  GOLD - COMMODITY EXCHANGE INC.                     240102                    2024-01-02         500364   290706     83057          NaN           NaN
1  GOLD - COMMODITY EXCHANGE INC.                     240109                    2024-01-09         489849   271665     83051     -19041.0          -6.0
2  GOLD - COMMODITY EXCHANGE INC.                     240116                    2024-01-16         489334   262360     82467      -9305.0        -584.0
3  GOLD - COMMODITY EXCHANGE INC.                     240123                    2024-01-23         465872   241100     71626     -21260.0      -10841.0
4  GOLD - COMMODITY EXCHANGE INC.                     240130                    2024-01-30         430328   219222     71431     -21878.0        -195.0

In [153]:
# Calculate the net positions for non-commercial data
gold_df['NC Net'] = gold_df['NC Long'] - gold_df['NC Short']

gold_df.rename(columns={'As of Date in Form YYYY-MM-DD': "Date"}, inplace=True)

# Select the relevant columns
gold_df = gold_df[['Date', 'NC Long', 'NC Short', 'NC Net','Open Interest','Change Long','Change Short']]

In [154]:
gold_df.sort_values(by="Date", ascending=False).head()

         Date  NC Long  NC Short  NC Net  Open Interest  Change Long  Change Short
44 2024-11-05   336816     81487  255329         558034     -29820.0       -6496.0
43 2024-10-29   366636     87983  278653         579468      -5177.0       12374.0
42 2024-10-22   371813     75609  296204         573760      14319.0        4549.0
41 2024-10-15   357494     71060  286434         541232       8603.0         349.0
40 2024-10-08   348891     70711  278180         520316     -21160.0         591.0

In [ ]:
# Check if the gold_weekly DataFrame is not empty
if not gold_weekly.empty:
    # Create a line chart
    fig, ax = plt.subplots(figsize=(12, 6))
    gold_weekly.plot(kind='line', ax=ax)
    ax.set_title('Gold COT Non-Commercial Positions')
    ax.set_xlabel('Date')
    ax.set_ylabel('Positions')
    ax.legend(title='Metric', loc='upper left')
    plt.tight_layout()
    plt.show()
else:
    print("No data available for Gold.")

In [155]:
# Export the data to an Excel file
gold_df.to_excel('gold_cot_data.xlsx', index=False)
gold_df.to_excel('gold_cot_data.xlsx', index=False, sheet_name='gold_cot_data')
print("Data exported to 'gold_cot_data.xlsx'.")

Data exported to 'gold_cot_data.xlsx'.